doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="bower_components/jquery/dist/jquery.js")
        link(rel='stylesheet', href='https://code.getmdl.io/1.1.3/material.orange-indigo.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        script(defer='', src='https://code.getmdl.io/1.1.3/material.min.js')
        script(defer='', src='https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js')
        script(defer='', src='https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js')
        script(defer='', src='https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js')
        script(src="javascripts/elven-fire-login.js")
        script(src="javascripts/elven-fire-data.js")
        script(src="javascripts/control.js")
    body
        block content
